.card {
    width: 13vw;
    height: 7vh;
    background: #FFDD2D;
    border-radius: 0.5vw;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.card:hover{
    opacity: 0.8;
}
.h1 {
    color: #000000;
    font-size: 2vh;
    
}


.span {
    font-size: min(2vw,18px);
    font-family: Tinkoff Sans;
    color: #FFFFFF;
}





@font-face {
    font-family: Tinkoff Sans;
    src: url('/src/font/TinkoffSans-Regular.ttf');
  }
  