p {
    font-family: Tinkoff Sans;
    text-align: center;
}
.count {
    max-width: 45px;
}

button {
    background-color: inherit;
    color: #336FEE;
    border: none;
    display: inline-block;
    text-decoration:none;
    cursor: pointer; 


}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}